<% provide(:title, "Reset Password") %>
<h1>Change my password</h1>

<div class="row">
	<div class="col-lg-4 col-lg-offset-4">
		<%= form_for(@member, url: update_password_password_reset_path(params[:id]), html: {class: 'f-vt'}) do |f| %>
			<%= render 'shared/error_messages', object: f.object %>
			
			<%= f.password_field :current_password, placeholder: "old password..." %>			
	
			<%= f.password_field :password, placeholder: "new password..." %>

			<%= f.password_field :password_confirmation, placeholder: "enter new password again to confirm" %>
	
			<%= f.submit "Update Password", class: "btn btn-primary btn-vt" %>
		<% end %>
	</div>
</div>