<%= render 'shared/error_messages', object: @member %>

<% provide(:title, 'Edit the tree') %>
<h1>Edit <%= @member.first_name + "'s tree" %></h1>

<h3><%= @member.first_name %>'s parents</h3>
<% if @member.parents.empty? %>
	<h4>No parents indicated.</h4>
<% else %>
	<ul class="members">
		<%= render partial: "members/member", collection: @member.parents, as: :member %>
	</ul><br/>
<% end %>


<div class="row">
	<div class="col-lg-7">
	<%= render partial: 'members/parent_select_form', object: @member, as: :member, locals: { who: :parent } %>
	</div>
	
	<%= render 'members/parent_member_form' %>
</div>


<h3><%= @member.first_name %>'s spouse</h3>
<% if @member.spouse_id.nil? %>
	<h4>No spouse indicated.</h4>
<% else %>
	<ul class="members">
		<%= render partial: "members/member", object: @member.spouse, as: :member %>
	</ul><br/>
<% end %>

<div class="row">
	<div class="col-lg-7">
		<%= render partial: 'members/spouse_select_form', object: @member, as: :member %>
	</div>

	<%= render 'members/spouse_member_form' %>
</div>



<h3><%= @member.first_name %>'s children</h3>
<% if @member.children.empty? %>
	<h4>No children indicated.</h4>
<% else %>
	<ul class="members">
		<%= render partial: "members/member", collection: @member.children, as: :member %>
	</ul><br/>
<% end %>

<div class="row">
	<div class="col-lg-7">
		<%= render partial: 'members/child_select_form', object: @member, as: :member %>
	</div>

	<%= render 'members/child_member_form' %>
</div>

<br/>
