<% provide(:title, 'Edit the tree') %>
<h1>Edit the tree</h1>

	<h3><%= @member.first_name %>'s parents</h3>
	<% if @parents.empty? %>
		<h4>No parents indicated.</h4>
	<% else %>
		<ul class="members">
			<%= render partial: "members/member", collection: @parents, as: :member %>
		</ul>
	<% end %>

	<h3><%= @member.first_name %>'s children</h3>
	<% if @children.empty? %>
		<h4>No children indicated.</h4>
	<% else %>
		<ul class="members">
			<%= render partial: "members/member", collection: @children, as: :member %>
		</ul>
	<% end %>

<br/>
<div class="tree_addition">
	<span><%= link_to "add a parent", new_member_path(rel: :parent, rel_id: @member.id) %></span

	<span><%= link_to "add a child", new_member_path(rel: :child, rel_id: @member.id) %></span>

	<span><%= link_to "add a spouse", new_member_path(rel: :spouse, rel_id: @member.id) %></span>
</div>