<%= form_for @member.posts.new, remote: true, html: { id: 'new_image', class: 'file-upload f-hz' } do |f| %>
	<%= f.label :image, "Drag and drop your images, or choose files below." %>
	<%= f.file_field :image, multiple: true, name: "image[image]" %>
	<%= f.hidden_field :member_id %>
	<%= f.submit 'upload', id: 'image_upload_submit', class: 'btn btn-sm btn-primary btn-hz' %>
	
	<div id="progress_bar_section">
		<div id="progress"><div id="bar">
		</div></div>
	</div>
<% end %>