<div class="image_block" id="<%= post.id %>">
	<% if post.image? %>
		<%= link_to image_tag(post.image_url(:medium), class: "member_image img-rounded"), post_path(post) %>
		<div class="over_image tp">
			<% if Member.find_by_id( post.from_member).can_delete?(post) %>
				<%= link_to 'delete', post_path(post), method: :delete, remote: true %><br/>
			<% end %>
			
			<%= link_to 'comment', post_path(post), class: "comment_link", remote: true %>
			
		</div>
	<% else %>
		<div class="post tp">
			<% from_member = Member.find_by_id( post.from_member) %>
			<%= link_to image_tag( from_member.image_url(:thumb), class: 'member_post img-rounded'), member_path( from_member) %>

				<div class="post_content">	
					<%= link_to from_member.first_name.downcase, member_path( from_member) %>:	<%= post.content %>
				</div>
				
				<div class="post_comments">				
					<%= render partial: 'comments/comment', collection: post.comments.order('created_at ASC') %>
				</div>
		</div>
		<div class="post_meta">
		 <%= "- #{time_ago_in_words(post.created_at).to_s} ago" %>
			<% if current_member.can_delete?(post) %>
				<br/><%= link_to "delete", post_path(post), method: :delete, remote: true %>
				| <%= link_to 'comment', post_path(post), class: "comment_link", remote: true %>
			<% end %>
		</div>
	<% end %>
</div>