<%= form_for @member.images.new, remote: true, html: { id: 'new_image', class: 'file-upload' } do |f| %>
	<%= f.label :image, "Drag and drop your images, or choose files below." %>
	<%= f.file_field :image, multiple: true, name: "image[image]" %>
	<%= f.hidden_field :member_id %>
	<%= f.submit 'upload images', id: 'image_upload_submit', class: 'btn btn-sm btn-primary' %>
<% end %>

<script id="template-upload" type="text/x-tmpl">
	<div class="upload">
		{%=o.name%}
		<div class="progress"><div class="bar" style="width: 0%">
		</div></div>
	</div>
</script>