<header class="navbar navbar-fixed-top"> 
  <div class="navbar-inner"> 
	<div class="container"> 
	<%= link_to image_tag("fist-bump.jpeg", alt: "fist bump", class: "small-image"), root_path %>
	  <nav> 
		<ul class="nav pull-right"> 
		  <% if signed_in? %>
				<li> <%= link_to "Sign out", signout_path, method: "delete" %> </li>
				<li> <%= link_to "Edit My Profile", edit_member_path(current_member) %></li>
				<li> <%= link_to "My Profile", current_member %></li>
				<li> <%= link_to "Members", members_path %> </li>
				<li> <%= link_to "Family Tree", tree_path(current_member) %> </li>
			<% else %>
				<li> <%= link_to "Sign in", signin_path %> </li>
				<li> <%= link_to "Sign up!", signup_path %> </li>
			<% end %>
		</ul> 
	  </nav> 
	</div> 
  </div> 
</header>