<header class="navbar navbar-fixed-top"> 
  <div class="navbar-inner"> 
	<div class="container">
	<% if signed_in? %>
		<%= link_to image_tag("fist-bump.jpeg", alt: "fist bump", class: "small-image", id: 'my_profile'), member_path(current_member) %>
	<% else %>
		<%= link_to image_tag("fist-bump.jpeg", alt: "fist bump", class: "small-image", id: 'my_profile'), root_path %>	
	<% end %>
	  <nav> 
		<ul class="nav pull-right"> 
		  <% if signed_in? %>
				<li> <%= link_to "sign out", signout_path, method: "delete" %> </li>
				<li> <%= link_to "edit my profile", edit_member_path(current_member) %></li>
				<li>
					<%= link_to "my profile", current_member, id: 'my_profile_link' %>
					<% updates = ( signed_in? && current_member.updates.where("created_at > ?", (current_member.last_checked_updates) ).count) || 0 %>
					<% if updates == 0 %> 
						<div id="updates_count" data-title='updates' class='no_updates'>
							Up
						</div>
					<% else %>
						<div id="updates_count" data-title='updates' data-titlebar='true' class='some_updates'>
							+<%= updates %>
						</div>
					<% end %>
				</li>
				<li> <%= link_to "members", members_path %> </li>
				<li> <%= link_to "family tree", tree_path(current_member) %> </li>
			<% else %>
				<li> <%= link_to "sign in", signin_path %> </li>
				<li> <%= link_to "sign up!", signup_path %> </li>
			<% end %>
		</ul> 
	  </nav> 
	</div> 
  </div> 
</header>