<div class="container">
	<div class="content_container">
		<% flash.each do |key, value| %>
			<div class="alert alert-<%= key %> "> <%= value %> </div>
		<% end %>
		<%= yield %>
		
		<%= render 'layouts/footer' %>
		
		<%= debug(params) if Rails.env.development? %>
		<%= debug(flash[ :error]) if Rails.env.development? %>
	</div>
</div>