<div class="image_block">
	<%= image_tag(member.image_url, id: 'profile_image') %>

	<% if current_member?(member) %>
		<% if member.image? %>
			<div class="over_image tp">
				<%= link_to "crop image", crop_member_path(member) %><br/>
				<%= link_to "remove image", member_path( member, member: { remove_image: true }), method: :patch %>
			</div>
		<% end %>
	<% else %>
		<div class="over_image tp">
			<%= link_to "write to #{member.first_name.downcase}", new_post_member_path( member), remote: true %>
		</div>
	<% end %>
	<p id="name_header"><%= @member.first_name + " " + @member.last_name %></p>
</div>