<div class="row relationship_fields">
	<div class="col-lg-4">
		<%= f.label :first_name %>
		<%= f.text_field :first_name %>

		<%= f.label :last_name %>
		<%= f.text_field :last_name %>

		<%= f.label :birthdate %>
		<%= f.text_field :birthdate, placeholder: "YYYY-MM-DD, e.g. May 1st, 2013 is 2013-05-01" %>
	</div>
		
	<div class="col-lg-4">
		<%= f.check_box :full_account, onclick:"showFullForm(this)" %>
		<%= f.label :full_account, "I want to provide this member with a full account that allows them to add and update other members and member information." %><br/>

		<%= link_to_remove_fields "nevermind, i don't want to add a new #{name}", f %>
	</div>

	<div id="full_member_field">
			<div class="col-lg-4">
				<%= f.label :email %>
				<%= f.text_field :email, autocomplete: :off, value: '' %>

				<%= f.label :password %>
				<%= f.password_field :password, autocomplete: :off, value: '' %>

				<%= f.label :password_confirmation, "Confirm Password" %>
				<%= f.password_field :password_confirmation %>
			</div>
	</div>
</div>