<div class="relationship_fields">
<h3>add a new <%= name.to_s %></h3>

<%= f.label :first_name %>
<%= f.text_field :first_name %>

<%= f.label :last_name %>
<%= f.text_field :last_name %>

<%= f.label :birthdate %>
<%= f.text_field :birthdate, placeholder: "YYYY-MM-DD, e.g. May 1st, 2013 is 2013-05-01" %>

<div id="full_member_field">
<%= f.label :email %>
<%= f.text_field :email %>

<%= f.label :password %>
<%= f.password_field :password %>

<%= f.label :password_confirmation, "Confirm Password" %>
<%= f.password_field :password_confirmation %>
</div>

<p>
<%= f.check_box :full_account, class: "check_box_label", onclick:"showFullForm(this)" %>
<%= f.label :full_account, "I want to provide this member with a full account that allows them to add and update other members and member information." %>
</p>

<%= f.hidden_field :spouse_id, value: @member.id %>

<%= link_to_remove_fields "don't add a new #{name}", f %>
</div>