<%= render 'shared/error_messages', object: f.object %>

<p>
<%= f.label :first_name %>
<%= f.text_field :first_name %>
</p>

<p>
<%= f.label :last_name %>
<%= f.text_field :last_name %>
</p>

<p>
<%= f.label :birthdate %>
<%= f.text_field :birthdate %>
</p>

<p>
<%= f.label :email %>
<%= f.text_field :email %>
</p>

<p>
<%= f.check_box :full_account %>
<%= f.label :full_account, "I want to provide this member with a full account that allows them to add and update other members and member information.", class: "check_box_label" %>
</p>

<p>
<%= image_tag(@member.image_url(:thumb)) if @member.image? %>
<%= f.file_field :image %>
<%= f.hidden_field :image_cache %>

<%= f.label :remove_image, "Remove image" %>
<%= f.check_box :remove_image %>
</p> 