<%= form_for(@member, html: { class: 'f-vt'}) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>

<div class="row">
<div class="col-lg-4">
	<%= f.label :first_name %>
	<%= f.text_field :first_name %>

	<%= f.label :last_name %>
	<%= f.text_field :last_name %>

	<%= f.label :birthdate %>
	<%= f.text_field :birthdate, placeholder: "YYYY-MM-DD, e.g. May 1st, 2013 is 2013-05-01" %>
</div>

<div class="col-lg-4">
	<%= f.label :email %>
	<%= f.text_field :email %>

	<%= f.label :password %>
	<%= f.password_field :password %>

	<%= f.label :password_confirmation, "Confirm Password" %>
	<%= f.password_field :password_confirmation %>
</div>

<div class="col-lg-4">	
	<%= image_tag(@member.image_url(:thumb)) if @member.image? %>
	<%= f.label :image, "Upload or change your profile picture" %>
	<%= f.file_field :image %>
	<%= f.hidden_field :image_cache %>

	<%= f.check_box :remove_image %>
	<%= f.label :remove_image, "Remove image" %>

</div></div>
	<%= f.submit "update my profile", class: "btn btn-primary btn-vt" %>
<% end %>