<div id="wall">
	<div id="member_info">
		<% provide(:title, @member.first_name) %>

		<div id="profile_image_section">
			<div id="profile_image_holder">
				<%= render partial: 'member_profile_image', object: @member, as: :member %>
			</div>
			<%= render 'hidden_profile_image_upload' if signed_in? && current_member?(current_member) %>
		</div>

		<p id="name_header"><%= @member.first_name + " " + @member.last_name %></p>
	</div>
	
	<span>
		<div class="post_form">
			<%= render 'posts/post_form' %>
		</div>
	
		<ul id="posts">
			<%= render partial: 'posts/post', collection: @member.posts.order('created_at DESC') %>
		</ul>
	</span>

</div>

<div id="images">
	
	<div id="image_upload_section">
		<% if current_member?(@member) %>
			<%= render 'images/image_upload' if signed_in? && current_member?(current_member) %>
		<% end %>
	</div>
	
	<%= render partial: 'images/image', collection: @member.images.order('created_at DESC') %>
	
	<%= render 'images/hidden_image_upload' if signed_in? && current_member?(current_member) %>

</div>